
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: black;
    font-family: "Roboto Mono", serif;
}
h1 {
    padding-top: 15%;
    text-align: center;
    color: white;
}


p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    color: white;
  }
